.header {
    border-bottom: 1px dashed black;
    font-size: 1.5em;
    line-height: 1.5em;
    font-style: italic;
    width: 100%;
}

.body {
    position:relative;
    width: 100%;
    margin-top: 10px;
}

.colour_body {
    float: left;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.selection_marker {
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: black;
    z-index: 0;
}

input {
    width: 100%;
}

#avatar_thumbnail {
    width: 210px;
    height: 210px;
    border: 1px dashed black;
    margin-right: 10px;
    float: left;
}

#avatar_thumbnail img {
    max-width: 200px;
    max-height: 200px;
    vertical-align: center;
}

.thumb {
    margin-left: 5px;
    margin-top: 5px;
}

#send_button {
    margin-top: 5px;
}

#file_dropbox {
    width: 298px;
    height: 150px;
    border: 1px dashed black;
    margin-top: 10px;

    float: left;
    position: relative;
}

#dropbox_label {
    position: absolute;
    width: 298px;
    left: 0px; top: 45px;
    opacity: 0.4;
    text-align: center;
}

.files_table {
    width: 100%;
}

.setting {
    margin-top: 10px;
    background-color: #EEEEEE;
    height: auto;
    padding: 5px;
}

.file_quota.setting {
    height: 50px;

.setting_header {
    width: 100%;
    text-decoration: italic;
    float: left;
}

.progress {
    width: 100%;
    float: right;
    position: relative;
}

.percent_display {
    margin-left: 10px;
}
